{% layout 'layout.liquid' %}
{% block content %}
  <br>
  <div class="container-sm">
    <div class="col-mb-4">
      <h1 class="display-4">Welcome to the Craft and Book Tracker</h1>
      <p>
        <h4>This app is all about helping you remember where you stored your crafts and whether you've finished reading your library of books</h4>
      </p>
    </div>
    <div class="btn-group btn-group-lg mt-4">
      <a href="/auth/signup" class="btn btn-success">Sign Up</a>
      <a href="/auth/login" class="btn btn-success">Login</a>
    </div>
    <br>
    <br>
  </div>
{% endblock %}}}}